Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: make-generate
        name: make generate
        entry: ./scripts/run-make-generate.sh
        language: system
        pass_filenames: false
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

make generate
  resources/grafana/generated/dashboards/rhacs-central.yaml
Due: grafana-lint, kube-linter

Add email sender dashboard
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-emailsender.json
  resources/grafana/templates/dashboards/rhacs-emailsender.yaml
  resources/index.json
Due: grafana-lint, kube-linter

increase sensitivity on alert for tenant db connections
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

increase sensitivity on alert for tenant db connections (#271)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add emailsender alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerDown.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderSendErrors.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

Add rate to throttled metric
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

Change total email sent to time series dashboard
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-emailsender.json
Due: grafana-lint, kube-linter

ROX-25003: Add emailsender alerts (#272)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerDown.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderSendErrors.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

ROX-25003: Add email sender dashboard (#270)
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-emailsender.json
  resources/grafana/templates/dashboards/rhacs-emailsender.yaml
  resources/index.json
Due: grafana-lint, kube-linter

Revert "increase sensitivity on alert for tenant db connections (#271)"
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Revert "increase sensitivity on alert for tenant db connections (#271)" (#273)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Certificate Expiring Critical + Warning
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringCritical.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringSoon.yaml
Due: kube-linter

Certificate Expiring Critical + Warning-updated
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringCritical.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringSoon.yaml
Due: kube-linter

Certificate Expiring Critical + Warning-updated
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

updated time check
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

updated time check
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

updated time check
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

updating timestamp rule
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

minor changes for consistency
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

minor changes for consistency
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

Alert for Central Instance Limit
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/CentralInstanceLimitCapacity.yaml
Due: kube-linter

split alert for Central Instance Limit
  resources/prometheus/unit_tests/CentralInstanceLimitCapacityCritical.yaml
  resources/prometheus/unit_tests/CentralInstanceLimitCapacityWarning.yaml
Due: kube-linter

Update from suggestions
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

Update from suggestions
  resources/prometheus/unit_tests/CentralInstanceLimitCapacity.yaml
  resources/prometheus/unit_tests/CentralInstanceLimitCapacityWarning.yaml
Due: kube-linter

sop_url added
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/CentralInstanceLimitCapacity.yaml
Due: kube-linter

conflict resolved
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringCritical.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiringSoon.yaml
Due: kube-linter

resolved conflict
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

fix: branch sync workflow (#258)
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

chore: add more automerge options (#262)
  .github/workflows/automerge.yaml
Due: none

chore: bump mixins (#251)
  resources/grafana/mixins/kubernetes/apiserver.yaml
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/controller-manager.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/kubelet.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/proxy.yaml
  resources/grafana/mixins/kubernetes/scheduler.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/apiserver.json
  resources/mixins/kubernetes/generated/dashboards/cluster-total.json
  resources/mixins/kubernetes/generated/dashboards/controller-manager.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-node.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/generated/dashboards/kubelet.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-pod.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-workload.json
  resources/mixins/kubernetes/generated/dashboards/persistentvolumesusage.json
  resources/mixins/kubernetes/generated/dashboards/pod-total.json
  resources/mixins/kubernetes/generated/dashboards/proxy.json
  resources/mixins/kubernetes/generated/dashboards/scheduler.json
  resources/mixins/kubernetes/generated/dashboards/workload-total.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/prometheus/federation-config.yaml
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: grafana-lint, kube-linter

ROX-24822: Fix acs-cs annotations
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

feat(alerts): add weekly exhaustion alert (#248)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Increase alerting threshold for networt policy violations
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter
