Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

add resource pressure SOP (#121)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZMemoryQuotaOverCommit.yaml
Due: kube-linter

added cluster_id variable to rhacs grafana dashboards
  resources/grafana/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-central-slo-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

grafana lint error fix
  resources/grafana/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-central-slo-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

added suggested changes
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

suggested changes
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

added cluster_id variable to rhacs grafana dashboards (#122)
  resources/grafana/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-central-slo-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-18657 Remove CPU limit alert
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUOverCommit.yaml
Due: kube-linter

ROX-17469: implemented sli/slo/alerts for central http/grpc api latencies
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Revert jsonnetfile.lock.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
Due: kube-linter

ROX-18657 Remove CPU limit alert (#123)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUOverCommit.yaml
Due: kube-linter

ROX-18654 Remove workerNodes cpu-memory alert per-az grouping
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
  scripts/test-prom-rules.sh
Due: kube-linter

Fix test-prom-rules.sh
  scripts/test-prom-rules.sh
Due: none

ROX-18654 Fix alert
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-18654 Remove grouping by az on worker nodes cpu/memory alerts (#124)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

added rhacs-central.json for in-cluster and cluster-wide central dashboards
  Makefile
  resources/grafana/Makefile
  resources/grafana/generated/dashboards/rhacs-central.json
  resources/grafana/rhacs-central-configmap.yaml
  resources/grafana/scripts/generate-dashboards.sh
  resources/grafana/templates/dashboards/rhacs-central-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

fix(mixins): ignore dvo namespace
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix(mixins): ignore dvo namespace (#125)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

added suggested changes
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-central.json
Due: grafana-lint, kube-linter

added suggested changes
  resources/grafana/scripts/generate-dashboards.sh
Due: grafana-lint, kube-linter

modified index.json for centraldashboard change
  resources/index.json
Due: kube-linter

fix(makefile): separate `generate` and `update` commands
  Makefile
  resources/mixins/kubernetes/Makefile
  resources/mixins/kubernetes/README.md
Due: kube-linter

fix(makefile): separate `generate` and `update` commands (#130)
  Makefile
  resources/mixins/kubernetes/Makefile
  resources/mixins/kubernetes/README.md
Due: kube-linter

fix(alerts): ignore CPU throttling for `openshift-*`
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix(alerts): ignore CPU throttling for `openshift-*` (#129)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

dashboard-linter don't need to check shell/Makefiles
  scripts/lint-grafana.sh
Due: none

added consolidated dashboards - combining cluster overview and central metrics
  resources/grafana/generated/dashboards/rhacs-consolidated-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-consolidated-dashboard.yaml
  resources/grafana/rhacs-consolidated.json
  resources/grafana/scripts/generate-dashboards.sh
  resources/grafana/templates/dashboards/rhacs-consolidated-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-consolidated-dashboard.yaml
Due: grafana-lint, kube-linter

chore(pre-commit): update deps
  .pre-commit-config.yaml
Due: none

chore(pre-commit): update deps (#133)
  .pre-commit-config.yaml
Due: none

fix(mixins): typo in cpu throttle selector
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix(mixins): typo in cpu throttle selector (#132)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix(metrics): consider PingService in SLI
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

fix(sli): clamp error rate at 1
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

use grpc_server_handled_total consistently
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

fix(sli): clamp error rate at 1 (#127)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

refactor(metrics): rename error_rate -> success_rate
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

refactor(metrics): rename error_rate -> success_rate (#135)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

refactor(metrics): use prom bool comparison
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

fix(dashboards): only count secured clusters with cores > 0
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Shuffle widgets around on the DB metrics panel.
  resources/grafana/rhacs-central.json
Due: grafana-lint, kube-linter

Add legends widget.
  resources/grafana/rhacs-central.json
Due: grafana-lint, kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
