Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

Relax container down and scrape failed alerts (#28)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralContainerDown.yaml
  resources/prometheus/unit_tests/RHACSCentralScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSScannerContainerDown.yaml
  resources/prometheus/unit_tests/RHACSScannerScrapeFailed.yaml
Due: kube-linter

Update resources/prometheus/unit_tests/ObservabilityOperatorPrometheusPersistentVolumeFillingUp.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorPrometheusPersistentVolumeFillingUp.yaml
Due: kube-linter

mark mixin files as generated
  .gitattributes
Due: none

add source label
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

ignore cp error
  scripts/lint-grafana.sh
Due: none

fix git attributes
  .gitattributes
Due: none

Customize Kubernetes mixins
  .gitattributes
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/cluster-total.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-pod.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-workload.json
  resources/mixins/kubernetes/generated/dashboards/pod-total.json
  resources/mixins/kubernetes/generated/dashboards/workload-total.json
  resources/mixins/kubernetes/generated/rules.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
  resources/prometheus/kubernetes-mixin-rules.yaml
Due: grafana-lint, kube-linter

Customize Kubernetes mixins (#29)
  .gitattributes
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/cluster-total.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-pod.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-workload.json
  resources/mixins/kubernetes/generated/dashboards/pod-total.json
  resources/mixins/kubernetes/generated/dashboards/workload-total.json
  resources/mixins/kubernetes/generated/rules.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
  resources/prometheus/kubernetes-mixin-rules.yaml
Due: grafana-lint, kube-linter

disable kubelet cert rotation alerts
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

disable kubelet cert rotation alerts (#30)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

improve cluster metrics dashboard
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

add zero central alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncInvalidCentralCount.yaml
Due: kube-linter

add zero central alert (#32)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncInvalidCentralCount.yaml
Due: kube-linter

improve cluster metrics dashboard (#31)
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Add pod monitor & alert for probe service
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

use go>=1.18.0
  .github/workflows/main.yml
Due: none

add ROX ticket to TODO
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add pod monitor & alert for probe service (#33)
  .github/workflows/main.yml
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

make sure probe failure timestamp is non-zero
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

add 10m grace period
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

make sure probe failure timestamp is non-zero (#34)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

Introduce production branch
  README.md
Due: none

Introduce production branch (#35)
  README.md
Due: none

Add sync workflow from master -> production branch
  .github/dependabot.yml
  .github/workflows/sync.yaml
Due: none

Descrease ObservabilityOperatorRemoteWriteFailure alert sensitivity
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorRemoteWriteFailure.yaml
Due: kube-linter

Add sync workflow from master -> production branch (#36)
  .github/dependabot.yml
  .github/workflows/sync.yaml
Due: none

Descrease ObservabilityOperatorRemoteWriteFailure alert sensitivity (#40)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorRemoteWriteFailure.yaml
Due: kube-linter

remove setup-node
  .github/workflows/sync.yaml
Due: none

increase alert trigger time for probe failure
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

Improve remote write failure alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/rhacs-recording-rules.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorRemoteWriteFailure.yaml
  scripts/test-prom-rules.sh
Due: kube-linter

ROX-12344: Scrape rhacs metric labels
  resources/prometheus/pod_monitors/rhacs-central-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-scanner-metrics.yaml
Due: kube-linter

ROX-12344: Scrape rhacs metric labels (#45)
  resources/prometheus/pod_monitors/rhacs-central-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-scanner-metrics.yaml
Due: kube-linter

ROX-12344: Use org info in Central dashboard
  resources/grafana/rhacs-central-dashboard.yaml
  scripts/.lint
Due: grafana-lint, kube-linter

fix typo
  scripts/.lint
Due: none

ROX-12344: Use org info in Central dashboard (#46)
  resources/grafana/rhacs-central-dashboard.yaml
  scripts/.lint
Due: grafana-lint, kube-linter
