Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: make-generate
        name: make generate
        entry: ./scripts/run-make-generate.sh
        language: system
        pass_filenames: false
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

Increase RHACSTenantWorkloadMemoryUtilizationHigh eval time to 30 minutes (#281)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

updated dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Increase tenant workload memory alert threshold to 90%
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

updated dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
Due: grafana-lint, kube-linter

updated dashboard
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Put observability label to the deadmanssnitch alert
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Delete index
  .pre-commit-config.yaml
  resources/index.json
Due: kube-linter

Prom selector
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
Due: kube-linter

Migrate prometheus crs to rhobs
  resources/mixins/kubernetes/templates/alerts.yaml
  resources/prometheus/billing-rules.yaml
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
  resources/prometheus/pod_monitors/rhacs-emailsender-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-fleetshard-sync-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-tenant-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/rhacs-recording-rules.yaml
Due: kube-linter

Add tls for federation
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: kube-linter

Migrate federation config to the new observability stack
  resources/kustomization.yaml
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Add prometheus configs
  resources/kustomization.yaml
Due: kube-linter

Add grafana to gitops config
  resources/kustomization.yaml
Due: kube-linter

Change README.md
  README.md
Due: none

Shellcheck exclude
  scripts/generate-federate-match.sh
Due: none

Replace index.json to kustomization.yaml in gederate-federate-match.sh
  scripts/generate-federate-match.sh
Due: none

ROX-27056: ArgoCD monitoring
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ArgoCD.yaml
Due: kube-linter

ROX-27056: Fix commit hook
  .pre-commit-config.yaml
Due: none

ROX-27056: Fix commit hook
  resources/prometheus/federation-config.yaml
Due: kube-linter

ROX-21531: Configure alert rules for healthchecks
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Fix tests
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

ROX-27056: ArgoCD monitoring (#291)
  .pre-commit-config.yaml
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ArgoCD.yaml
Due: kube-linter

tests
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

ROX-27130: rename operator pod prefix
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerFrequentlyRestarting.yaml
Due: kube-linter

Lint fixes
  resources/prometheus/prometheus-rules.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Add description for the probe_success metric
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add unit test for a case when there's no probe_success metric
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Add clarifying comment
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-21531: Configure alert rules for healthchecks (#292)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

ROX-27298: Add InfoInhibitor to the prometheus rules
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add an exclusion for the federation config generator
  scripts/generate-federate-match.sh
Due: none

ROX-27298: Add InfoInhibitor to the prometheus rules (#294)
  resources/prometheus/prometheus-rules.yaml
  scripts/generate-federate-match.sh
Due: kube-linter
