Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

fix(dashboards): resource generation
  README.md
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/rhacs-central-slo-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/scripts/generate-dashboards.sh
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-central.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/templates/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

fix whitespace
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

WIP
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-19726: Sync jobs for stage and prod.
  .github/workflows/sync-prod.yaml
  .github/workflows/sync-stage.yaml
Due: none

update README
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
  README.md
Due: none

no federation of central platform metrics
  resources/prometheus/federation-config.yaml
Due: kube-linter

fix(sli): allow `Unknown` status code in SLI error rate
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

fix(sli): allow `Unknown` status code in SLI error rate (#149)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Ignore openshift-logging.
  resources/mixins/kubernetes/mixin.libsonnet
Due: kube-linter

make generate
  resources/mixins/kubernetes/generated/alerts.yml
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

Improve instructions.
  README.md
  resources/mixins/kubernetes/Makefile
Due: kube-linter

Ignore openshift-logging and improve setup (#140)
  README.md
  resources/mixins/kubernetes/Makefile
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

Slack notification workflow
  .github/workflows/slack.yaml
Due: none

style
  .github/workflows/slack.yaml
Due: none

ROX-20385: Slack notification workflow (#154)
  .github/workflows/slack.yaml
Due: none

Revert "ROX-20385: Slack notification workflow (#154)"
  .github/workflows/slack.yaml
Due: none

Revert "ROX-20385: Slack notification workflow (#154)" (#155)
  .github/workflows/slack.yaml
Due: none

chore: bump grafana version to 10.2.0
  resources/index.json
Due: kube-linter

chore: bump grafana version to 10.2.0 (#153)
  resources/index.json
Due: kube-linter

Add the RHACS Cluster Resource Adjustment dashboard
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

Add new line at EOF
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

add templates for cluster resource dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

Add RHACS Cluster Right-Sizing Dashboard (#158)
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

fix cluster resource template file names
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
Due: grafana-lint, kube-linter

fix cluster resource template file names (#159)
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-16643: Set acscs-worker role
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
  scripts/test-prom-rules.sh
Due: kube-linter

ROX-16643: Set acscs-worker role
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/prometheus/prometheus-rules.yaml
  scripts/test-prom-rules.sh
Due: grafana-lint, kube-linter

ROX-16643: Set acscs-worker role (#162)
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: grafana-lint, kube-linter

fix: regenerate dashboards
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
Due: grafana-lint, kube-linter

feat: add `make generate` to pre-commit hook
  .pre-commit-config.yaml
  scripts/run-make-generate.sh
Due: none

feat: add `make generate` to pre-commit hook (#166)
  .pre-commit-config.yaml
  scripts/run-make-generate.sh
Due: none

ROX-20792: Add alert for operator OOM
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSOperatorMemoryUtilizationHigh.yaml
Due: kube-linter

ROX-20792: Add critical alert for operator OOM
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSOperatorMemoryUtilizationHigh.yaml
Due: kube-linter

ROX-20792: Changed the alert to be by container
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSOperatorMemoryUtilizationHigh.yaml
Due: kube-linter

perf: optimize overview dashboard queries
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

ROX-21228: Capacity planning dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

ROX-21046: Alerts for tenant nearing OOM
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
