Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: make-generate
        name: make generate
        entry: ./scripts/run-make-generate.sh
        language: system
        pass_filenames: false
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

ROX-21046: Fix runbook URLS
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

chore: make SLI graphs more readable
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

chore: make SLI graphs more readable (#177)
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

chore: tighten tenant memory alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

chore: tighten tenant memory alerts (#181)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

Add ACSCS release dashboard
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/templates/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-central-release-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

Change yq json inserting to make it the same for linux and macos
  resources/grafana/mixins/kubernetes/apiserver.yaml
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/controller-manager.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/kubelet.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/proxy.yaml
  resources/grafana/mixins/kubernetes/scheduler.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/scripts/generate-dashboards.sh
Due: grafana-lint, kube-linter

Change yq json inserting to make it the same for linux and macos (#185)
  resources/grafana/mixins/kubernetes/apiserver.yaml
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/controller-manager.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/kubelet.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/proxy.yaml
  resources/grafana/mixins/kubernetes/scheduler.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/scripts/generate-dashboards.sh
Due: grafana-lint, kube-linter

feat: use container_memory_working_set_bytes
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-central.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

feat: use container_memory_working_set_bytes (#186)
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-central.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

Add ACSCS release dashboard
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/templates/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-central-release-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

Update resources/index.json
  resources/index.json
Due: kube-linter

ROX-21321: Add ACSCS release dashboard (#187)
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/templates/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-central-release-dashboard.yaml
  resources/index.json
Due: grafana-lint, kube-linter

chore: relax overcommit alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

ROX-21047: Widgets are hard to read
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

ROX-21047: Fixed legend width
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore: relax overcommit alerts (#189)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

Bump threshold for warning on operator memory usage from 60% to 70%.
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSOperatorMemoryUtilizationHigh.yaml
Due: kube-linter

Bump threshold for warning on operator memory usage from 60% to 70%. (#193)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSOperatorMemoryUtilizationHigh.yaml
Due: kube-linter

ROX-21739: SES Monitoring
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AWSSESQuota.yaml
Due: kube-linter

ROX-21739: PR Comments
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AWSSESQuota.yaml
Due: kube-linter

editorconfig and prettier hook
  .editorconfig
  .pre-commit-config.yaml
Due: none

.gitattributes
  .gitattributes
Due: none

resources
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-central.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

.prettierignore
  .prettierignore
Due: none

chore: prettier json (#200)
  .editorconfig
  .gitattributes
  .pre-commit-config.yaml
  .prettierignore
  resources/grafana/generated/dashboards/rhacs-central-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-central.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
Due: grafana-lint, kube-linter

rebase
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

refactor the metrics
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

feat: add `rhacs_expired_at` to centrals overview panel (#199)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

fix central overview table position
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

fix central overview table position (#202)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore: remove probe instances from table
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore: remove probe instances from table (#205)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore: add auto-merge in sync
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

chore: add auto-merge in sync (#210)
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

Fix missing fields for consolidation dashboard
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Remove custom workflow and use pre-commit
  .github/workflows/main.yml
  .github/workflows/validate-federated-metrics.yml
  scripts/generate-federate-match.sh
Due: none

Initial work on filtering of federated metrics
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Added GH actions check, added make option and improved README
  .github/workflows/validate-federated-metrics.yml
  Makefile
  README.md
  scripts/generate-federate-match.sh
Due: none
