Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

Remove DB snapshots critical alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSAWSQuota.yaml
Due: kube-linter

ROX-15234: Alert when instance has pause-reconcile for more than 2 days
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: kube-linter

ROX-15234: Alert when instance has pause-reconcile for more than 2 days (#102)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: kube-linter

Replace HTTP error rate SLI with haproxy metrics
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Filter openshift namespaces from CPUThrottlingHigh alert
  resources/prometheus/kubernetes-mixin-alerts.yaml
  resources/prometheus/unit_tests/CPUThrottlingHigh.yaml
  scripts/test-prom-rules.sh
Due: kube-linter

Filter out PingService from grpc request metrics
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add a check to filter out NaN values
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Unit test for no requests coming in to Central
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Add ResourceExhausted to the list of unavailable
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add pod_ready to error rate SLI
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

Create a new temp dir for every dashboard lint test
  scripts/lint-grafana.sh
Due: none

ROX-17906: Create alerts for egress proxy availability
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEgressProxy.yaml
Due: kube-linter

Ignore kubestate metrics on openshift namespaces
  resources/mixins/kubernetes/mixin.libsonnet
Due: kube-linter

Generate and push
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

Add rhacs namespace
  resources/mixins/kubernetes/mixin.libsonnet
Due: kube-linter

Generate
  resources/mixins/kubernetes/generated/alerts.yml
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

Move to blocklisting openshift-kube|kube
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix: Blocklist kube-state alarms for some namespaces (#108)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: kube-linter

Revert "Merge pull request #110 from stackrox/master"
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
  scripts/lint-grafana.sh
Due: kube-linter

Increase paused central alert warning duration
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: kube-linter

WIP
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: kube-linter

fix pause alerting rule
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: kube-linter

remove pause reconcile alert
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralReconcilePaused.yaml
Due: grafana-lint, kube-linter

cluster dashboard improvements
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

use max values over time in probe alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
Due: kube-linter

cluster dashboard improvements (#114)
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

chore(dashboards): remove central-db widget from Central dashboard
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

remove stackrox-db alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralDatabasePersistentVolumeFillingUp.yaml
Due: kube-linter

chore(dashboards): remove stackrox-db alerts and dashboard (#116)
  resources/grafana/rhacs-central-dashboard.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralDatabasePersistentVolumeFillingUp.yaml
Due: grafana-lint, kube-linter

fix labels in SLI metrics
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

fix labels in SLI metrics (#112)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

ignore-openshift-marketplace
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-node.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: grafana-lint, kube-linter

ignore-openshift-marketplace (#119)
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-node.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/kubernetes-mixin-alerts.yaml
Due: grafana-lint, kube-linter

fix labels in SLO dashboard
  resources/grafana/rhacs-central-slo-dashboard.yaml
Due: grafana-lint, kube-linter

fix labels in SLO dashboard (#118)
  resources/grafana/rhacs-central-slo-dashboard.yaml
Due: grafana-lint, kube-linter

added rhacs-consolidated.json and scripts to generate yamls
  Makefile
  resources/grafana/Makefile
  resources/grafana/generated/dashboards/rhacs-consolidated.json
  resources/grafana/rhacs-consolidated-configmap.yaml
  resources/grafana/rhacs-consolidated-grafanadashboard.yaml
  resources/grafana/scripts/generate-dashboards.sh
  resources/grafana/templates/dashboards/rhacs-consolidated-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-consolidated-grafanadashboard.yaml
Due: grafana-lint, kube-linter

name correction in template
  resources/grafana/templates/dashboards/rhacs-consolidated-grafanadashboard.yaml
Due: grafana-lint, kube-linter

shellcheck lint error correction
  resources/grafana/scripts/generate-dashboards.sh
Due: grafana-lint, kube-linter

add resource pressure SOP
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

replace with other SOP url
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZMemoryOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesByAZMemoryQuotaOverCommit.yaml
Due: kube-linter
