Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
        files: resources/index.json
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: make-generate
        name: make generate
        entry: ./scripts/run-make-generate.sh
        language: system
        pass_filenames: false
      - id: grafana-lint
        name: grafana lint
        entry: ./scripts/lint-grafana.sh
        language: script
        files: resources/grafana
      - id: prom-rule-test
        name: prometheus rules test
        entry: ./scripts/test-prom-rules.sh
        language: script
        pass_filenames: false
      - id: kube-linter
        name: kube-linter
        entry: ./scripts/run-kube-linter.sh
        language: script
        files: resources

ROX-21531: Add Central Health widget on the Grafana SLO dashboard
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

ROX-21531: Add Central Health widget on the Grafana SLO dashboard (#295)
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

RHACSFleetshardSyncCentralCountHealthMismatch test
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountHealthMismatch.yaml
Due: kube-linter

ROX-16860: Add rules
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Add unit test for RHACSFleetshardSyncCentralCountPodMismatch
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountPodMismatch.yaml
Due: kube-linter

ROX-28158: disable email throttling alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

ROX-28158: disable email throttling alerts (#297)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

chore(owners): Update reference to Maple and Merlin after team merge
  .github/CODEOWNERS
Due: none

Change CODEOWNERS to the cloud service team
  .github/CODEOWNERS
Due: none

Change CODEOWNERS to the cloud service team (#299)
  .github/CODEOWNERS
Due: none

Fix Central GraphQL dashboard and add duration heatmap
  resources/grafana/generated/dashboards/rhacs-central.yaml
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

Change heatmap color schem to YlOrRd
  resources/grafana/generated/dashboards/rhacs-central.yaml
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

Fix Central GraphQL dashboard and add duration heatmap (#302)
  resources/grafana/generated/dashboards/rhacs-central.yaml
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

Add alert for missing audit logs on Cloudwatch
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AuditLogs.yaml
Due: kube-linter

Update federation config
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AuditLogs.yaml
Due: kube-linter

Rollback federation changes
  resources/prometheus/federation-config.yaml
Due: kube-linter

Add alert for missing audit logs on Cloudwatch (#303)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AuditLogs.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  .github/workflows/main.yml
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSScannerScrapeFailed.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSCentralScrapeFailed.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
Due: kube-linter

ROX-27130: rename operator pod prefix (#293)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerFrequentlyRestarting.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  .github/workflows/main.yml
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
  resources/prometheus/unit_tests/RHACSCentralScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
  resources/prometheus/unit_tests/RHACSScannerScrapeFailed.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSFleetshardSyncScrapeFailed.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

ROX-27775: Include ScannerV4 in alerts (#304)
  .github/workflows/main.yml
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
  resources/prometheus/unit_tests/RHACSCentralScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSScannerScrapeFailed.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryOverCommit.yaml
Due: kube-linter

Change central total count to central ready count
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountHealthMismatch.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountPodMismatch.yaml
Due: kube-linter

ROX-16860: Cover undefined availability metrics in Central SLOs (#296)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountHealthMismatch.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncCentralCountPodMismatch.yaml
Due: kube-linter

ROX-28179: Include kernel version upgrade in dashboard annotations
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-emailsender.json
Due: grafana-lint, kube-linter

ROX-28179: include kernel version upgrade in annotations (#305)
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-emailsender.json
Due: grafana-lint, kube-linter

fix annotation query
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-emailsender.json
Due: grafana-lint, kube-linter

fix: grafana dashboard annotation query (#308)
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-emailsender.json
Due: grafana-lint, kube-linter

Delete obsolete github actions
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

Cleanup README.md
  README.md
Due: none
