Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

reducing burnrate threshold for alert to 30 (#332)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

add burnrate by tenant panel to SLO dashboard (#331)
  resources/grafana/generated/dashboards/rhacs-central-slo.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

chore: move prom-rule-test from the pre-commit hooks to a standalone makefile target
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Makefile
Due: none

chore: move prom-rule-test from the pre-commit hooks to a standalone makefile target (#334)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Makefile
Due: none

chore: exclude openshift-aws-vpce-operator namespace from monitoring
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

chore: exclude openshift-aws-vpce-operator namespace from monitoring (#333)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

ROX-33370: Error budget exhaustion alert is fired for a small downtime after the budget is already exhausted
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-33370: Error budget exhaustion alert is fired for a small downtime after the budget is already exhausted (#335)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-33584: Reduce the severity of the fleetshard-sync unavailability alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncScrapeFailed.yaml
Due: kube-linter

ROX-33584: Reduce the severity of the fleetshard-sync unavailability alerts (#336)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerDown.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncScrapeFailed.yaml
Due: kube-linter

Set log scaling for secured cores and total secured cores charts
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Set log scaling for secured cores and total secured cores charts (#337)
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

ROX-33228: Disable CPUThrottlingHigh alerts for config-reloader
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

ROX-33228: Disable CPUThrottlingHigh alerts for config-reloader (#338)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix scanner restart noise
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

pinning grafana linter, because go install broke
  scripts/lint-grafana.sh
Due: none

ROX-34459: fix scanner restart noise (#339)
  resources/prometheus/prometheus-rules.yaml
  scripts/lint-grafana.sh
Due: kube-linter

ROX-34665: Add Scans per Day by Namespace panel to cluster overview dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/.claude/settings.local.json
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Lint
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Disable KubePersistentVolumeFillingUp for scanner-db
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

Disable KubePersistentVolumeFillingUp for scanner-db (#341)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

Disable KubePersistentVolumeFillingUp for prometheus
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

Disable KubePersistentVolumeFillingUp for prometheus (#342)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

feat: add Go memory lifecycle panels to Central dashboard
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

Ran make
  resources/grafana/generated/dashboards/rhacs-central.yaml
Due: grafana-lint, kube-linter

pre-commit
  resources/grafana/generated/dashboards/rhacs-central.yaml
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

make generate && pre-commit
  resources/prometheus/federation-config.yaml
Due: kube-linter

increase federate scrape timeout
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: kube-linter

reduce federation timeout to 90s
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: kube-linter

fix: increase federate scrape timeout (#347)
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: kube-linter

ROX-34665: Rename Scans per Day panel to Scans per 24h
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

do not alert on openshift-custom-domains.*
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

do not alert on openshift-custom-domains.* (#348)
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/mixin.libsonnet
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

add alert for container restart over 48h period
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSHighRestartRateOverExtendedPeriod.yaml
Due: kube-linter

add alert for container restart over 48h period (#349)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSHighRestartRateOverExtendedPeriod.yaml
Due: kube-linter

only alert for restarts if pod still exists
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSHighRestartRateOverExtendedPeriod.yaml
Due: kube-linter

only alert for restarts if pod still exists (#350)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSHighRestartRateOverExtendedPeriod.yaml
Due: kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
