Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

fix variable selection in central dashboard
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

fix variable selection in central dashboard (#47)
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-12344: Add organisation filter to cluster dashboard
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-12344: Add organisation filter to cluster dashboard (#48)
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Optimize dashboard variable query
  resources/grafana/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Optimize dashboard variable query (#49)
  resources/grafana/rhacs-central-dashboard.yaml
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

make restarting alerts critical
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSScannerContainerFrequentlyRestarting.yaml
Due: kube-linter

make restarting alerts critical (#50)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardOperatorContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSFleetshardSyncContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSScannerContainerFrequentlyRestarting.yaml
Due: kube-linter

Rename `kafka-prometheus` -> `obs-prometheus`
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorPrometheusPersistentVolumeFillingUp.yaml
Due: kube-linter

Rename `kafka-prometheus` -> `obs-prometheus` (#51)
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ObservabilityOperatorPrometheusPersistentVolumeFillingUp.yaml
Due: kube-linter

Add Central overview table
  .gitignore
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

WIP
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-14270: Add cloudwatch exporter pod monitor
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
Due: kube-linter

Add CPU seconds and organisation name
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-14270: Add cloudwatch exporter pod monitor (#53)
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
Due: kube-linter

Add CPU consumption persantage
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-14978 - Add Central overview table (#52)
  .gitignore
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

RHACSCentralPostgresConnectionDown alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralPostgresConnectionDown.yaml
Due: kube-linter

Add scanner overview table
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Add separate dashboard
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

RHACSCentralPostgresConnectionDown alert (#54)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralPostgresConnectionDown.yaml
Due: kube-linter

Drop some central metrics and add pagination
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-12462: scrape rhacs annotations
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
  resources/prometheus/pod_monitors/rhacs-fleetshard-sync-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
Due: kube-linter

ROX-14981: Add scanner overview table (#55)
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-12462: scrape rhacs annotations (#56)
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
  resources/prometheus/pod_monitors/rhacs-fleetshard-sync-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
Due: kube-linter

ROX-12863: clamp to avoid double counting Central pods
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

ROX-12863: clamp to avoid double counting Central pods (#58)
  resources/grafana/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

add alerts for failing probe pods
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerDown.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSProbeScrapeFailed.yaml
Due: kube-linter

add alerts for failing probe pods (#61)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerDown.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSProbeScrapeFailed.yaml
Due: kube-linter

mention branch sync action in README
  README.md
Due: none

mention branch sync action in README (#62)
  README.md
Due: none

ROX-15092: Database dashboard
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Improve RDS panels
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Adjust RDS panel titles
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Monitor RDS ACU and CPU usage. Remove Bolt / Rocks monitoring
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Fix ACU usage unit
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

restore defaults
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Add postgres connection count monitoring
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

Re-order DB panels
  resources/grafana/rhacs-central-dashboard.yaml
Due: grafana-lint, kube-linter

increase ACUUtilization alert threshold to 1h
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/AWSRDSACUUtilization.yaml
Due: kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
