Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

Update after rebase
  resources/prometheus/federation-config.yaml
Due: kube-linter

Add option to define base federated metrics
  README.md
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

1. review changes
  README.md
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Add missing base file
  resources/prometheus/federation-config-base.yaml
Due: kube-linter

2. review tweaks
  .gitattributes
  scripts/generate-federate-match.sh
Due: none

Update used metrics
  resources/prometheus/federation-config.yaml
Due: kube-linter

ROX-20854: Reduce federated metrics (#174)
  .gitattributes
  .github/workflows/main.yml
  Makefile
  README.md
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Add ScannerV4 components to Scanner Overview table
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

Add ScannerV4 components to Scanner Overview table (#211)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

fix: automerge action
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

limit branches
  .github/workflows/automerge.yaml
Due: none

fix: automerge action (#213)
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

ROX-16615: Remove the probe service from the Data Plane observability resources
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerDown.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
  resources/prometheus/unit_tests/RHACSProbeScrapeFailed.yaml
Due: grafana-lint, kube-linter

ROX-16615: Remove the probe service from the Data Plane observability resources (#215)
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-probe-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerDown.yaml
  resources/prometheus/unit_tests/RHACSProbeContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSProbeRunFailed.yaml
  resources/prometheus/unit_tests/RHACSProbeScrapeFailed.yaml
Due: grafana-lint, kube-linter

Add autoscaler alerts
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerNotSafeToScale.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleCPULimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleMemoryLimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnschedulablePods.yaml
Due: kube-linter

Fix wrong threshold number
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

Adjust old alerts
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

ROX-23673: Add alerts for cluster autoscaler (#218)
  resources/prometheus/federation-config.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerNotSafeToScale.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleCPULimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleMemoryLimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnschedulablePods.yaml
  resources/prometheus/unit_tests/WorkerNodesCPUQuotaOverCommit.yaml
  resources/prometheus/unit_tests/WorkerNodesMemoryQuotaOverCommit.yaml
Due: kube-linter

metric renaming for SELinux and NetworkPolicy violation metrics
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
Due: kube-linter

Fix identifiers
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
Due: kube-linter

feat(dashboards): add autoscaler dashboard
  resources/grafana/generated/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/grafana/sources/rhacs-autoscaler.json
  resources/grafana/templates/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/index.json
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

feat(dashboards): add autoscaler dashboard (#225)
  resources/grafana/generated/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/grafana/sources/rhacs-autoscaler.json
  resources/grafana/templates/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/templates/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/index.json
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

fix: dashboard extension and tags
  resources/grafana/generated/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-autoscaler.json
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/index.json
Due: grafana-lint, kube-linter

fix: dashboard extension and tags (#226)
  resources/grafana/generated/dashboards/rhacs-autoscaler-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-autoscaler-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-release-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-resource-adjustment-dashboard.yaml
  resources/grafana/sources/rhacs-autoscaler.json
  resources/grafana/sources/rhacs-central-release.json
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-resource-adjustment.json
  resources/index.json
Due: grafana-lint, kube-linter

Fix description
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Add new row to cluster overview dashboard for visualizing violation occurences
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Added panel descriptions
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Removed cluster name
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

PR feefback + make generate
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

Update resources/grafana/sources/rhacs-cluster-overview.json
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Remove hardcoded axisWidth (which caused the y axis labels to be hidden
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Added CW links
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

make generate
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
Due: grafana-lint, kube-linter

Fix alignment issue
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Fix alignment issue (#231)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore(deps): bump grafana to 10.4.0
  resources/index.json
Due: kube-linter

chore(deps): bump grafana to 10.4.0 (#224)
  resources/index.json
Due: kube-linter

fix: cluster overview widget alignment
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

fix: cluster overview widget alignment (#232)
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
