Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

chore: move k8s mixin alerts to generated dir
  resources/index.json
  resources/mixins/kubernetes/Makefile
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

chore: move k8s mixin alerts to generated dir (#233)
  resources/index.json
  resources/mixins/kubernetes/Makefile
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: kube-linter

fix: automerge label
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

fix: automerge label (#228)
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

fix: pass labels array as string
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

fix: pass labels array as string (#234)
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

Fix link for DP-042
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Fix tests
  resources/prometheus/unit_tests/ClusterAutoscalerNotSafeToScale.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleCPULimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleMemoryLimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnschedulablePods.yaml
Due: kube-linter

Fix link for DP-042 (#237)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerNotSafeToScale.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleCPULimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnableToScaleMemoryLimitReached.yaml
  resources/prometheus/unit_tests/ClusterAutoscalerUnschedulablePods.yaml
Due: kube-linter

feat: add generic tenant metrics
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-central-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-tenant-metrics.yaml
Due: kube-linter

feat: add generic tenant metrics (#238)
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-central-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-tenant-metrics.yaml
Due: kube-linter

ROX-24055: Annotations for cluster upgrades
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
  scripts/generate-federate-match.sh
Due: grafana-lint, kube-linter

ROX-24055: Annotations for cluster upgrades
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

ROX-24055: Annotations for cluster upgrades
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: grafana-lint, kube-linter

ROX-24055: Annotations for cluster upgrades
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

ROX-24055: Annotations for cluster upgrades (#241)
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
Due: grafana-lint, kube-linter

Add SELinux alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ClusterAuditSELinuxViolations.yaml
Due: kube-linter

Add Network Policy alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/ClusterAuditNetworkPolicyViolations.yaml
Due: kube-linter

ROX-24822: Fix acs-cs annotations
  resources/grafana/generated/dashboards/rhacs-central-slo-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-central-slo-dashboard.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-configmap.yaml
  resources/grafana/generated/dashboards/rhacs-cluster-overview-dashboard.yaml
  resources/grafana/sources/rhacs-central-slo.json
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

chore: bump grafana version to 11.1.0
  resources/index.json
Due: kube-linter

chore: bump grafana version to 11.1.0 (#250)
  resources/index.json
Due: kube-linter

chore: bump mixins
  resources/grafana/mixins/kubernetes/apiserver.yaml
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/controller-manager.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/kubelet.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/proxy.yaml
  resources/grafana/mixins/kubernetes/scheduler.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/apiserver.json
  resources/mixins/kubernetes/generated/dashboards/cluster-total.json
  resources/mixins/kubernetes/generated/dashboards/controller-manager.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-node.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/generated/dashboards/kubelet.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-pod.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-workload.json
  resources/mixins/kubernetes/generated/dashboards/persistentvolumesusage.json
  resources/mixins/kubernetes/generated/dashboards/pod-total.json
  resources/mixins/kubernetes/generated/dashboards/proxy.json
  resources/mixins/kubernetes/generated/dashboards/scheduler.json
  resources/mixins/kubernetes/generated/dashboards/workload-total.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/prometheus/federation-config.yaml
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: grafana-lint, kube-linter

chore: bump mixins (#251)
  resources/grafana/mixins/kubernetes/apiserver.yaml
  resources/grafana/mixins/kubernetes/cluster-total.yaml
  resources/grafana/mixins/kubernetes/controller-manager.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-cluster.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-namespace.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-node.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-pod.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workload.yaml
  resources/grafana/mixins/kubernetes/k8s-resources-workloads-namespace.yaml
  resources/grafana/mixins/kubernetes/kubelet.yaml
  resources/grafana/mixins/kubernetes/namespace-by-pod.yaml
  resources/grafana/mixins/kubernetes/namespace-by-workload.yaml
  resources/grafana/mixins/kubernetes/persistentvolumesusage.yaml
  resources/grafana/mixins/kubernetes/pod-total.yaml
  resources/grafana/mixins/kubernetes/proxy.yaml
  resources/grafana/mixins/kubernetes/scheduler.yaml
  resources/grafana/mixins/kubernetes/workload-total.yaml
  resources/mixins/kubernetes/generated/alerts.yml
  resources/mixins/kubernetes/generated/dashboards/apiserver.json
  resources/mixins/kubernetes/generated/dashboards/cluster-total.json
  resources/mixins/kubernetes/generated/dashboards/controller-manager.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-cluster.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-namespace.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-node.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-pod.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workload.json
  resources/mixins/kubernetes/generated/dashboards/k8s-resources-workloads-namespace.json
  resources/mixins/kubernetes/generated/dashboards/kubelet.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-pod.json
  resources/mixins/kubernetes/generated/dashboards/namespace-by-workload.json
  resources/mixins/kubernetes/generated/dashboards/persistentvolumesusage.json
  resources/mixins/kubernetes/generated/dashboards/pod-total.json
  resources/mixins/kubernetes/generated/dashboards/proxy.json
  resources/mixins/kubernetes/generated/dashboards/scheduler.json
  resources/mixins/kubernetes/generated/dashboards/workload-total.json
  resources/mixins/kubernetes/jsonnetfile.lock.json
  resources/prometheus/federation-config.yaml
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
Due: grafana-lint, kube-linter

fix: branch sync workflow
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

fix: branch sync workflow (#258)
  .github/workflows/automerge.yaml
  .github/workflows/sync-prod-from-stage.yaml
  .github/workflows/sync-stage-from-master.yaml
Due: none

feat(alerts): add weekly exhaustion alert
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

feat(alerts): add weekly exhaustion alert (#248)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSCentralSLISLO.yaml
Due: kube-linter

chore: add more automerge options
  .github/workflows/automerge.yaml
Due: none

chore: add more automerge options (#262)
  .github/workflows/automerge.yaml
Due: none

Revert "chore: add more automerge options (#262)"
  .github/workflows/automerge.yaml
Due: none

Increase alerting threshold for networt policy violations
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

Update tests
  resources/prometheus/unit_tests/ClusterAuditNetworkPolicyViolations.yaml
Due: kube-linter

Revert "chore: add more automerge options (#262)" (#264)
  .github/workflows/automerge.yaml
Due: none

Add emailsender metrics
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-emailsender-metrics.yaml
Due: kube-linter

Add emailsender metrics (#268)
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-emailsender-metrics.yaml
Due: kube-linter

Include restart metrics for missing containers
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
