Repository stackrox/rhacs-observability-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: grafana-lint, kube-linter

grafana-lint:
  name: grafana lint
  entry: ./scripts/lint-grafana.sh
  language: script

kube-linter:
  name: kube-linter
  entry: ./scripts/run-kube-linter.sh
  language: script

chore: bump grafana version to 11.1.0 (#250)
  resources/index.json
Due: kube-linter

Update tests
  resources/prometheus/unit_tests/ClusterAuditNetworkPolicyViolations.yaml
Due: kube-linter

Add emailsender metrics (#268)
  resources/index.json
  resources/prometheus/pod_monitors/rhacs-emailsender-metrics.yaml
Due: kube-linter

Revert "chore: add more automerge options (#262)" (#264)
  .github/workflows/automerge.yaml
Due: none

increase sensitivity on alert for tenant db connections (#271)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-25003: Add email sender dashboard (#270)
  resources/grafana/generated/dashboards/rhacs-emailsender.yaml
  resources/grafana/sources/rhacs-emailsender.json
  resources/grafana/templates/dashboards/rhacs-emailsender.yaml
  resources/index.json
Due: grafana-lint, kube-linter

make generate
  resources/grafana/generated/dashboards/rhacs-central.yaml
Due: grafana-lint, kube-linter

Revert "increase sensitivity on alert for tenant db connections (#271)" (#273)
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

ROX-25003: Add emailsender alerts (#272)
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerDown.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderContainerFrequentlyRestarting.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderScrapeFailed.yaml.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderSendErrors.yaml
  resources/prometheus/unit_tests/RHACSEmailsenderThrottledSend.yaml
Due: kube-linter

Include restart metrics for missing containers
  resources/grafana/sources/rhacs-central.json
Due: grafana-lint, kube-linter

updated time check
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

resolved conflict
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

minor changes for consistency
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

Update from suggestions
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

minor changes for consistency
  resources/prometheus/unit_tests/RHACSFleetschardCertificateExpiring.yaml
Due: kube-linter

Conflict Resolved
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/CentralInstanceLimitCapacity.yaml
Due: kube-linter

conflict resolved
  resources/prometheus/prometheus-rules.yaml
Due: kube-linter

conflict resolved
  resources/prometheus/unit_tests/CentralInstanceLimitCapacity.yaml
Due: kube-linter

minor changes for consistency
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/CentralInstanceLimit.yaml
Due: kube-linter

Added Cert Expiry to dashboard
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Added Cert Expiry to bottom of dashboard
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Cleaned up changes
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Fixed Lint error
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
Due: grafana-lint, kube-linter

Original Dashboard
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Dashboard + Certificate Dashboard
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Dashboard + Certificate Dashboard
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
Due: grafana-lint, kube-linter

Fixed Linting
  resources/grafana/generated/dashboards/rhacs-cluster-overview.yaml
  resources/grafana/sources/rhacs-cluster-overview.json
Due: grafana-lint, kube-linter

Migrate federation config to the new observability stack
  resources/kustomization.yaml
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
  scripts/generate-federate-match.sh
Due: kube-linter

Add prometheus configs
  resources/kustomization.yaml
Due: kube-linter

Migrate prometheus crs to rhobs
  resources/mixins/kubernetes/templates/alerts.yaml
  resources/prometheus/billing-rules.yaml
  resources/prometheus/generated/kubernetes-mixin-alerts.yaml
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-cloudwatch-exporter.yaml
  resources/prometheus/pod_monitors/rhacs-emailsender-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-fleetshard-sync-metrics.yaml
  resources/prometheus/pod_monitors/rhacs-tenant-metrics.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/rhacs-recording-rules.yaml
Due: kube-linter

Prom selector
  resources/prometheus/pod_monitors/prometheus-self-metrics.yaml
Due: kube-linter

Add tls for federation
  resources/prometheus/federation-config-base.yaml
  resources/prometheus/federation-config.yaml
Due: kube-linter

Add grafana to gitops config
  resources/kustomization.yaml
Due: kube-linter

Increase RHACSTenantWorkloadMemoryUtilizationHigh eval time to 30 minutes
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/unit_tests/RHACSTenantWorkloadMemoryUtilizationHigh.yaml
Due: kube-linter

setup python for pre commit
  .github/workflows/main.yml
Due: none

setup python for pre commit (#282)
  .github/workflows/main.yml
Due: none

Path conditions:
  grafana-lint: any of: resources/grafana
  kube-linter: any of: resources
